!!!
%html
  %head
    = stylesheet_link_tag 'application'
    = requirejs_include_tag 'application'
    = favicon_link_tag '/favicon.ico'
  %body
    %a.header{href: cms_index_url }
    %nav
      %ul
        %li
          %a{href: cms_url('About Us')}
            = image_tag 'nav/aboutus1.png'
          %ul
            %li
              %a{href: cms_url('The Company')}
                = image_tag 'nav/company1.png'
            %li
              %a{href: cms_url('Meet the Crew')}
                = image_tag 'nav/crew1.png'
            %li
              %a{href: cms_url('Kickstarter')}
                = image_tag 'nav/kickstarter1.png'
            %li
              %a{href: cms_url('FAQ')}
                = image_tag 'nav/faq1.png'
        %li
          %a{href: cms_url('Why Insects')}
            = image_tag 'nav/insects1.png'
          %ul
            %li
              %a{href: cms_url('Economic Benefits')}
                = image_tag 'nav/eco1.png'
            %li
              %a{href: cms_url('Environmental Benefits')}
                = image_tag 'nav/enviro1.png'
            %li
              %a{href: cms_url('Nutritional Benefits')}
                = image_tag 'nav/nutri1.png'
        %li
          %a{href: cms_url('Contact Us')}
            = image_tag 'nav/connect1.png'
          %ul
            %li
              %a{href: cms_url('Contact Us')}
                = image_tag 'nav/contactus1.png'
            %li
              %a{href: cms_url('Review Us')}
                = image_tag 'nav/reviewus1.png'
        %li
          %a{href: cms_url('Shop Online')}
            = image_tag 'nav/shop1.png'
          %ul
            %li
              %a{href: cms_url('Online Store')}
                = image_tag 'nav/onlinestore1.png'
            %li
              %a{href: cms_url('Wholesale Inquiries')}
                = image_tag 'nav/wholesale1.png'
            %li
              %a{href: cms_url('Store Locator')}
                = image_tag 'nav/locator1.png'
        %li
          %a{href: cms_url('Pre-order')}
            = image_tag 'nav/preorder1.png'
        %li
          %a{href: cms_url('Cart')}
            = image_tag 'nav/cart1.png'
        %li
          %a{href: cms_url('Checkout')}
            = image_tag 'nav/checkout1.png'
                
    - unless @cms_page.ancestors.empty?
      %ul.breadcrumbs
        - (@cms_page.ancestors.reverse + [@cms_page]).each do |page|
          %li
            %a{href: page.url}
              = page.label.downcase
    .content
      = yield
    .footerinfo
    .footer
      .socialmedia
        %ul
          %li
            %a.facebook{href: 'http://www.facebook.com/EcotoneFoods', target:'_facebook'}
          %li
            %a.twitter{href: 'http://www.twitter.com/EcotoneFoods', target:'_twitter'}
          %li
            %a.instagram{href: 'http://www.instagram.com/EcotoneFoods', target:'_instagram'}
          %li
            %a.pinterest{href: 'http://www.pinterest.com/EcotoneFoods', target:'_pinterest'}
          %li
            %a.linkedin{href: 'http://www.linkedin.com/EcotoneFoods', target:'_linkedin'}
          %li
            %a.youtube{href: 'http://www.youtube.com/EcotoneFoods', target:'_youtube'}
          %li
            %a.googleplus{href: 'http://www.googleplus.com/EcotoneFoods', target:'_googleplus'}
          %li
            %a.tumblr{href: 'http://www.tumblr.com/EcotoneFoods', target:'_tumblr'}
          %li
            %a.skype{href: 'http://www.skype.com/EcotoneFoods', target:'_skype'}
          %li
            %a.vimeo{href: 'http://www.vimeo.com/EcotoneFoods', target:'_vimeo'}
      .extralinks
        .column
          %li
            %a{href: cms_url('About Us')} About Us
          %li
            %a{href: cms_url('Products')} Products
          %li
            %a{href: cms_url('Why Insects')} Why Insects?
          %li
            %a{href: cms_url('Connect')} Connect
          %li
            %a{href: cms_url('Shop Online')} Shop Online
          %li Shopping Cart
          %li Checkout
        .column
          %li
            %a{href: cms_url('Terms of Service')} Terms of Service
          %li
            %a{href: cms_url('Legal Disclaimer')} Legal Disclaimer
          %li
            %a{href: cms_url('Privacy Policy')} Privacy Policy
    