!!!
%html
  %head
    = stylesheet_link_tag 'application'
    = requirejs_include_tag 'application'
    = favicon_link_tag '/favicon.ico'
  %body
    %a.header{href: cms_index_url }
    %nav
      %ul
        %li
          %a{href: cms_url('The Company')}
            = hover_image_url 'nav/aboutus'
          %ul
            %li
              %a{href: cms_url('The Company')}
                = hover_image_url 'nav/company'
            %li
              %a{href: cms_url('Meet the Crew')}
                = hover_image_url 'nav/crew'
            %li
              %a{href: cms_url('Kickstarter')}
                = hover_image_url 'nav/kickstarter'
            %li
              %a{href: cms_url('FAQ')}
                = hover_image_url 'nav/faq'
        %li
          %a{href: cms_url('Nutritional Benefits')}
            = hover_image_url 'nav/insects'
          %ul
            %li
              %a{href: cms_url('Economic Benefits')}
                = hover_image_url 'nav/eco'
            %li
              %a{href: cms_url('Environmental Benefits')}
                = hover_image_url 'nav/enviro'
            %li
              %a{href: cms_url('Nutritional Benefits')}
                = hover_image_url 'nav/nutri'
        %li
          %a{href: cms_url('Contact Us')}
            = hover_image_url 'nav/connect'
          %ul
            %li
              %a{href: cms_url('Contact Us')}
                = hover_image_url 'nav/contactus'
            %li
              %a{href: cms_url('Review Us')}
                = hover_image_url 'nav/reviewus'
        %li
          %a{href: cms_url('Online Store')}
            = hover_image_url 'nav/shop'
          %ul
            %li
              %a{href: cms_url('Online Store')}
                = hover_image_url 'nav/onlinestore'
            %li
              %a{href: cms_url('Wholesale Inquiries')}
                = hover_image_url 'nav/wholesale'
            %li
              %a{href: cms_url('Store Locator')}
                = hover_image_url 'nav/locator'
        %li
          %a{href: cms_url('Pre-Order')}
            = hover_image_url 'nav/preorder'
        %li
          %a{href: cms_url('Cart')}
            = hover_image_url 'nav/cart'
        %li
          %a{href: cms_url('Checkout')}
            = hover_image_url 'nav/checkout'
                
    - unless @cms_page.ancestors.empty?
      %ul.breadcrumbs
        - (@cms_page.ancestors.reverse + [@cms_page]).each do |page|
          %li
            %a{href: page.url}
              = page.label.downcase
    .content
      = yield
    .footer
      .socialmedia
        %ul
          %li
            %a.facebook{href: 'http://www.facebook.com/EcotoneFoods', target:'_facebook'}
          %li
            %a.twitter{href: 'http://www.twitter.com/EcotoneFoods', target:'_twitter'}
          %li
            %a.instagram{href: 'http://www.instagram.com/EcotoneFoods', target:'_instagram'}
          %li
            %a.pinterest{href: 'http://www.pinterest.com/EcotoneFoods', target:'_pinterest'}
          %li
            %a.linkedin{href: 'http://www.linkedin.com/EcotoneFoods', target:'_linkedin'}
          %li
            %a.youtube{href: 'http://www.youtube.com/EcotoneFoods', target:'_youtube'}
          %li
            %a.googleplus{href: 'http://www.googleplus.com/EcotoneFoods', target:'_googleplus'}
          %li
            %a.tumblr{href: 'http://www.tumblr.com/EcotoneFoods', target:'_tumblr'}
          %li
            %a.skype{href: 'http://www.skype.com/EcotoneFoods', target:'_skype'}
          %li
            %a.vimeo{href: 'http://www.vimeo.com/EcotoneFoods', target:'_vimeo'}
      .extralinks
        .column
          %li
            %a{href: cms_url('About Us')} About Us
          %li
            %a{href: cms_url('Products')} Products
          %li
            %a{href: cms_url('Why Insects')} Why Insects?
          %li
            %a{href: cms_url('Connect')} Connect
          %li
            %a{href: cms_url('Shop Online')} Shop Online
          %li Shopping Cart
          %li Checkout
        .column
          %li
            %a{href: cms_url('Terms of Service')} Terms of Service
          %li
            %a{href: cms_url('Legal Disclaimer')} Legal Disclaimer
          %li
            %a{href: cms_url('Privacy Policy')} Privacy Policy
    